<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment = "login_or_register">
		<a th:href = "@{/loginpage}">Login</a><br>
		<a th:href = "@{/registerpage}">Register</a>
	</div>
	
	<div th:fragment = "register">
		<form action = "@{/registeruser}" th:object = "${user}" method = "POST" enctype = "utf8">
			<input th:field = "*{firstName}" placeholder = "First name"/><br>
			<input th:field = "*{lastName}" placeholder = "Last name"/><br>
			<input th:field = "*{userName}" placeholder = "User name"/><br>
			<input type = "password" th:field = "*{password}" placeholder = "Password"/><br>
			<input th:field = "*{location}" placeholder = "Location"/><br>
			<input th:field="*{phoneNumber}" placeholder = "Phone number"/><br>
			<button type = "submit" >Register</button>
		</form>
	</div>
	
	<div class = "login_user" th:fragment = "login">
		<form action="@{/loginuser}" th:object = "${loginuser}" method = "POST" enctype = "utf8">
			<input th:field = "*{userName}" placeholder = "Name"></input><br>
			<input type = "password" th:field = "*{password}" placeholder = "Password"><br>
			<button type = "submit">Login</button>
		</form>
	</div>
	
	<div th:fragment = "user_details">
		<p th:text = "${user.userName}">
		<a th:href = "@{/logout}">Log out</a>
	</div>
	
	<div th:fragment = "start_auction">
		<form action = "@{/startauction}" th:object = "${auctionArticleWraper}" method = "post" enctype = "multipart/form-data">
			<input th:field = "*{articleName}" placeholder = "Name the article" /><br>
			<input th:field = "*{articleDescription}" placeholder = "Describe the article" /><br>
			<input th:field = "*{categoryName}" placeholder = "Name the category" /><br>
			<input type = "number" th:field = "*{auctionStartingPrice}" placeholder = "Starting price" /><br>
			<select th:field = "*{auctionLength}">
				<option th:each = "i : ${#numbers.sequence(1, 30)}" th:value = "${i}" th:text = "${i}">
			</select>
			<input type = "file" name = "files" multiple = "multiple"><br>
			<button type = "submit" >Start Auction!</button>
		</form>
	</div>
	
	<div th:fragment = "auction_navigation">
		<a th:href = "@{/searchauction}">Auction search</a>
		<a th:href = "@{/newauction}" sec:authorize = "isAuthorised()">Create new auction</a>
	</div>
	
	<div th:fragment = "find_auction">
		<form action = "@{/findauction}" th:object = "${findAuctionForm}" method = "get">
			<input type = "text" name = "keyword" value = "*{keyword}" />
			<input type = "number" name = "maxPrice" value = "*{maxPrice}"/>
			<input type = "number" name = "minPrice" value = "*{minPrice}"/>
			<input type = "text" name = "category" value = "*{category}"/>
			<select ></select>
		</form>
	</div>
	
	
	<div class = "single_auction">
	
	</div>

</body>
</html>